<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
 
	<system.serviceModel>
		<services>
			<service name="NetTcpServiceToHostinWindowsService.ChatService" behaviorConfiguration="behaviorConfig">

				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:7997/ChatServiceHost/"/>
						<add baseAddress="http://localhost:7998/ChatServiceHost/"/>
					</baseAddresses>
				</host>
				<endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="NetTcpServiceToHostinWindowsService.IChat"/>

				<endpoint address="net.tcp://localhost:7997/ChatServiceHost/mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="behaviorConfig">
					<serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceThrottling maxConcurrentCalls="200" maxConcurrentSessions="200"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<netTcpBinding>
				<binding name="tcpBinding" maxBufferSize="67108864" maxReceivedMessageSize="67108864" maxBufferPoolSize="67108864" 
						 transferMode="Buffered" closeTimeout="00:00:20" openTimeout="00:00:20" receiveTimeout="20:00:00" sendTimeout="00:02:00" 
						 maxConnections="200">
					<security mode="None">
					</security>
					<readerQuotas maxArrayLength="67108864" maxBytesPerRead="67108864" maxStringContentLength="67108864"/>
					<reliableSession enabled="true" inactivityTimeout="00:20:00"/>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
